# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
protpred-Gromacs-Random_Algorithm_PSP
protpred-Gromacs-MC_Metropolis_PSP
protpred-Gromacs-Mono_PSP
protpred-Gromacs-Dominance
protpred-Gromacs-NSGA2_PSP
protpred-Gromacs-Front
protpred-Gromacs-Sort_Method_Files_by_Front_Dominance


*.swp
*.swo
*~
build
*.pyc
